.Rproj.user
.Rhistory
.RData
.Ruserdata
.tsv
*.tsv
.csv

Quantum/*.csv

# --- PYTHON IGNORES ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- JUPYTER NOTEBOOKS ---
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# --- PYCHARM SETTINGS ---
.idea/

# --- AMBIENTI VIRTUALI ---
venv/
.venv/
env/
.env/
Quantum/.env